.row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    padding: 5px 25px;
}

h1, h2 {
    font-family: sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.1em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #39a2db;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #39a2db;
}        

a {
  text-decoration: none;
  outline-color: transparent;
  color: black;
  border-radius: 5px;
  padding: 5px;
  background: #39db4ccc;
}

a:hover {
  background: #6aff7c;
}